# Sequences

## From Debbies class 30/9

### Scenario 1

- dont need to import any extra packages
- example: create for loop, if statment, while etc.

### Scenario 2

- need to import an extra package 
- example: we want to use functions from other existing packages so we don't have to create our own code from skratch.

### Scenario 3

- need to import an extra package (that's not included in python installation)
- Example: pandas 
- one extra step: uv pip install into your uv venv first before import

### Random module

In [4]:
#Random module 
import random as rnd 

#generate a dice result from one throw 
dice_result = rnd.randint(1,6) #example in a dice (1-6)
dice_result

6

### Loop through list

list is a collections of items/values/data in one object

In [26]:
fruits = ["banana", "apple", "orange", "grape"]
i = 0 
print("My favorite fruits are:")

for fruit in fruits: #fruits refer to a specific list 
    i += 1
    print(f"{i}. {fruit}")

My favorite fruits are:
1. banana
2. apple
3. orange
4. grape

## A ) Lists

In other languages it's array

In [5]:
tv_shows = ["Antique show","Master chef", "News", "Talent"]

tv_shows[0]

'Antique show'

In [6]:
tv_shows[0][-1]
#takes the last character in the first thing in the array

'w'

In [8]:
tv_shows[1:3]
#starts at 1 i the array /list 
#slices the 3 (last one in the list)

['Master chef', 'News']

In [9]:
tv_shows[-1]
#Last one in the list

'Talent'

# iterate through list with for

In [10]:
for tv_show in tv_shows:
    print(tv_show)

Antique show
Master chef
News
Talent

In [11]:
for i, tv_show in  enumerate(tv_shows,1): 
    print(i, tv_show)
#numerates each tv-show (starts at 1)

1 Antique show
2 Master chef
3 News
4 Talent

In [16]:
tv_shows[-1] = "Yu gi oh"
tv_shows

#changes the value of the last item in the list

['Antique show', 'Master chef', 'News', 'Yu gi oh']

In [17]:
#sort the list by sort() 

tv_shows.sort()
tv_shows

['Antique show', 'Master chef', 'News', 'Yu gi oh']

## List comprehension

In [18]:
cubes = [x**3 for x in range(10)]
cubes

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [19]:
[x**2 for x in range(10) if x**2 > 25]

[36, 49, 64, 81]

## Plot graph

In [ ]:
import matplotlib.pyplot as plt 

x = list(range(10))
x

#I dont get this part to work. Ask for help.

In [ ]:
k = 2 
m = 2 
y = [k*x * m for x in x]
y

## B) Tuples

muteble sequences wich eans you can't change it (the items) or assign a new value to the item.

Exeption = we can changes an element inside an muteble element.

In [42]:
mixed_tuple = ["banana", 12, 3.14, True]
mixed_tuple

['banana', 12, 3.14, True]

In [43]:
mixed_tuple[1]

12

In [44]:
mixed_tuple[:3]

['banana', 12, 3.14]

In [52]:
coordinates = ([1,2], [2,5])
coordinates

([1, 2], [2, 5])

In [58]:
coordinates[0][0] = 50
coordinates

([50, 2], [2, 5])

## Tuple unpacking

In [63]:
x,y,z = (1,2,3)
x

1

In [70]:
x,y = y,x
print(f"{x = }, {y =}")

x = 2, y =1

## C) Sets

In sets you have unique values 
set operations in python you can use in python

In [75]:
emails = ["mirandalyng@gmail.com","mirandalyng@gmail.com","kajsa@hotmail.com", "olivia@live.se", "maxE@telia.com"]

emails

['mirandalyng@gmail.com',
 'mirandalyng@gmail.com',
 'kajsa@hotmail.com',
 'olivia@live.se',
 'maxE@telia.com']

In [76]:
set(emails)

#Unique (double gets deleted)

{'kajsa@hotmail.com',
 'maxE@telia.com',
 'mirandalyng@gmail.com',
 'olivia@live.se'}

In [77]:
list(set(emails))
#back to list

['olivia@live.se',
 'mirandalyng@gmail.com',
 'kajsa@hotmail.com',
 'maxE@telia.com']

## mathimatical set operation

-union 
-intersection 
-except 

<img src = "https://github.com/kokchun/assets/blob/main/python/intersect.png?raw=true width =200>

set A and B (intersection) common in both A and B and return that

## Intersection

In [80]:
first_month_customers = {"alice", "bob", "carla", "daniel"}
second_month_cutomers = {"carla", "daniel", "elena"}

#wich are the returning customers? 
#carla and daniel is 1 and 2nd month

returning_customers = first_month_customers.intersection(second_month_cutomers)
returning_customers

{'carla', 'daniel'}

## Union

2 sets and returns the Combination from A and B

In [82]:
all_customers = first_month_customers.union(second_month_cutomers)
all_customers
#sets removes all the duplicates

{'alice', 'bob', 'carla', 'daniel', 'elena'}

In [83]:
#A and B seperate

In [85]:
#combine union and exept intersection 

one_time_customer = first_month_customers.union(second_month_cutomers) - first_month_customers.intersection(second_month_cutomers)

one_time_customer

{'alice', 'bob', 'elena'}

sets have no orders

convert to list and tuple

In [86]:
list(all_customers)

['bob', 'alice', 'carla', 'daniel', 'elena']

In [87]:
tuple(all_customers)

('bob', 'alice', 'carla', 'daniel', 'elena')