# Sequences

## A ) Lists

In other languages it's array

In [5]:
tv_shows = ["Antique show","Master chef", "News", "Talent"]

tv_shows[0]

'Antique show'

In [6]:
tv_shows[0][-1]
#takes the last character in the first thing in the array

'w'

In [8]:
tv_shows[1:3]
#starts at 1 i the array /list 
#slices the 3 (last one in the list)

['Master chef', 'News']

In [9]:
tv_shows[-1]
#Last one in the list

'Talent'

# iterate through list with for

In [10]:
for tv_show in tv_shows:
    print(tv_show)

Antique show
Master chef
News
Talent

In [11]:
for i, tv_show in  enumerate(tv_shows,1): 
    print(i, tv_show)
#numerates each tv-show (starts at 1)

1 Antique show
2 Master chef
3 News
4 Talent

In [16]:
tv_shows[-1] = "Yu gi oh"
tv_shows

#changes the value of the last item in the list

['Antique show', 'Master chef', 'News', 'Yu gi oh']

In [17]:
#sort the list by sort() 

tv_shows.sort()
tv_shows

['Antique show', 'Master chef', 'News', 'Yu gi oh']

## List comprehension

In [18]:
cubes = [x**3 for x in range(10)]
cubes

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [19]:
[x**2 for x in range(10) if x**2 > 25]

[36, 49, 64, 81]

## Plot graph

In [ ]:
import matplotlib.pyplot as plt 

x = list(range(10))
x

#I dont get this part to work. Ask for help.

In [ ]:
k = 2 
m = 2 
y = [k*x * m for x in x]
y

## B) Tuples

muteble sequences wich eans you can't change it (the items)

Exeption =

## C) Sets