# Strings

### Some notes from 2/10

#### Concatenate string 

- concatenate multiplie strings with the "+" operator 
- remenber "+" operator works different when it comes to int float etc. It depends on the varieble type. 
-

In [2]:
firstname = "miranda" 
lastname = "lyng" 

full_name = firstname + " " + lastname #concatinating strings by using + 

full_name

'miranda lyng'

In [5]:
#multiline string 

work = "AIengineer AB"
adress = "Supah cool street"
phone = "112"

contact_details = f"""
name: {full_name}
work: {work}
adress: {adress}
phone: {phone}
"""

In [6]:
contact_details

'\nname: miranda lyng\nwork: AIengineer AB\nadress: Supah cool street\nphone: 112\n'

In [7]:
print(contact_details)

name: miranda lyng
work: AIengineer AB
adress: Supah cool street
phone: 112

In [11]:
meny = ["chili", "noodles", "pokebowl", "panncakes", "taco"]
days = ["monday", "tuesday", "wendsday", "thursday", "friday"]
weekly_menu = "Weekly menu\n"
#concatinate string by using loop 

for day, food in zip(days, meny): 
    weekly_menu += f"{day:<10}: {food}\n"

print(weekly_menu)

Weekly menu
monday    : chili
tuesday   : noodles
wendsday  : pokebowl
thursday  : panncakes
friday    : taco

In [12]:
#Indexing 

quote = "¡False - it's funny because it's True"

quote

"¡False - it's funny because it's True"

In [13]:
quote[0]

'¡'

In [14]:
quote[-1]

'e'

In [15]:
quote[:6]

'¡False'

In [16]:
quote[::-1]

"eurT s'ti esuaceb ynnuf s'ti - eslaF¡"

In [18]:
string_to_check = "anna"
string_to_check[::-1] == string_to_check

True

## splitting and cleaning a string

In [1]:

subjects = "Math, biology    ,     cHeMistry ,  PrOgramming      "

subjects

'Math, biology    ,     cHeMistry ,  PrOgramming      '

In [2]:
subjects = subjects.split(",")
subjects

#becomes a list where each of the comma seperates the items

['Math', ' biology    ', '     cHeMistry ', '  PrOgramming      ']

In [8]:
subjects = [subject.strip().lower() for subject in subjects]

#strip function cleans it and 
# lower converts to loweerCase 
#upper to capital 

for subject in subjects: 
    print(f"{subject} has {len(subject)} characters")

math has 4 characters
biology has 7 characters
chemistry has 9 characters
programming has 11 characters

### regex

#regular expresstion 
way to pattern match (different types if stings )

In [9]:
import re

text = "Det var en gång en katt som tog på sig en hatt."

match_list = re.findall(r".att", text)
match_list

['katt', 'hatt']

In [18]:
personal_number = "Ida: 19950722-4444, Berit: 19581212-2434, Ada: 050545-1213"

match_long = re.findall(r"\d{8}-\d{4}", personal_number)

match_long

['19950722-4444', '19581212-2434']

In [19]:
match_short = re.findall(r"\d{6}-\d{4}", personal_number)

match_short

['950722-4444', '581212-2434', '050545-1213']