# Strings

In [2]:
firstname = "miranda" 
lastname = "lyng" 

full_name = firstname + " " + lastname #concatinating strings by using + 

full_name

'miranda lyng'

In [5]:
#multiline string 

work = "AIengineer AB"
adress = "Supah cool street"
phone = "112"

contact_details = f"""
name: {full_name}
work: {work}
adress: {adress}
phone: {phone}
"""

In [6]:
contact_details

'\nname: miranda lyng\nwork: AIengineer AB\nadress: Supah cool street\nphone: 112\n'

In [7]:
print(contact_details)

name: miranda lyng
work: AIengineer AB
adress: Supah cool street
phone: 112

In [11]:
meny = ["chili", "noodles", "pokebowl", "panncakes", "taco"]
days = ["monday", "tuesday", "wendsday", "thursday", "friday"]
weekly_menu = "Weekly menu\n"
#concatinate string by using loop 

for day, food in zip(days, meny): 
    weekly_menu += f"{day:<10}: {food}\n"

print(weekly_menu)

Weekly menu
monday    : chili
tuesday   : noodles
wendsday  : pokebowl
thursday  : panncakes
friday    : taco

In [12]:
#Indexing 

quote = "¡False - it's funny because it's True"

quote

"¡False - it's funny because it's True"

In [13]:
quote[0]

'¡'

In [14]:
quote[-1]

'e'

In [15]:
quote[:6]

'¡False'

In [16]:
quote[::-1]

"eurT s'ti esuaceb ynnuf s'ti - eslaF¡"

In [18]:
string_to_check = "anna"
string_to_check[::-1] == string_to_check

True

## splitting and cleaning a string

In [ ]:

subjects = "Math, biology    ,     cHeMistry ,  PrOgramming      "